body.threshold-body {
  background: black;
  color: #c9a675;
  font-family: serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sigil {
  font-size: 4rem;
  margin-bottom: 1rem;
}

.text p {
  margin: 0.4rem 0;
  font-size: 1.0rem;
}

.continue {
  margin-top: 2rem;
  display: inline-block;
  text-decoration: none;
  color: #c9a675;
  border: 1px solid #c9a675;
  padding: 0.5rem 1rem;
  transition: 0.3s;
}

.continue:hover {
  background: #c9a675;
  color: black;
}
