<nav class="navigation">
  <a href="/hall-of-origin/spark/">Spark</a>
  <a href="/hall-of-origin/flame/">Flame</a>
  <a href="/hall-of-origin/ember/">Ember</a>
  <li><a href="/relics/">Relics</a></li>
</nav>
